.statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    align-content: center;
    justify-items: center;
    border: 1px solid black;
}